/* Body Style */

body {
    width: auto;
    color: forestgreen;
    background-color: black;
    font-family: monospace;
    font-size: 1.5em;
    letter-spacing: 0.1em;   
}

/* Body List Style */

body > ul {list-style: circle;
    line-height: 2em;
}

/* Heading Style */

h1 {
    font-family: 'Lucida Console';
    color: darkgreen;
    font-size: 2.1em;
    letter-spacing: 0.1em;
}

/* Navigation List Style */

nav > ul { 
    list-style: square;
    line-height: 3em;
}

/* Footer Style */

footer{ 
    color: aquamarine;
    background-color: darkgreen;
    text-align: center;
}